<main class="row">
    <div class="col-10 col-sm-8 mx-auto text-center d-flex flex-column align-items-center justify-content-center">
        <div class="p-5">
            <h1 class="fw-bold" style="font-size: 5em;">Links List</h1>
            <p class="">The website to save your favourite links</p>
        </div>
    </div>
</main>