<footer class="row">
    <div class="col-10 col-sm-6 mx-auto text-center">
        <p>Hecho con &#128147; por 
            <a class="link-light" href="https://github.com/Hiroshi85" target="_blank">
                Hiroshi85
            </a>
        </p>
    </div>
</footer>